{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}
    <div>
    <form id="login-form">
        <div class="form-group">
          <label class="control-label" for="username">Username</label>
          <input name="username" id="username" value="" autofocus="autofocus"
                 type="text" class="form-control" tabindex="1">
          <label id="username-error" class="text-danger">&nbsp;</label>
        </div>
        <div class="form-group">
          <label class="control-label" for="pass">Password</label>
          <input name="pass" id="pass" value="" type="password" class="form-control"
                 tabindex="1">
          <label id="pass-error" class="text-danger">&nbsp;</label>
        </div>
        <div class="form-group">
          <label id="error" class="text-danger">No errors</label>
        </div>
        <button name="login" id="login" type="submit" class="m-btn"
            tabindex="1">
            Log In
        </button>
    </form>
  </div>
{% endblock %}
